body{
    background-color: #a4c7ec;
}

.textStyle{
    font-family: 'Source Sans Pro', sans-serif;
}


.imgpad{
    margin: 10px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

